
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1, initial-scale=1.0">
    <title>keylogger web</title>
    <link rel="stylesheet" href='../static/style_index.css'>
</head>

<body>
    <form method="POST" action='/login'>
        <div class="list_of_input">
            <p id="messege"></p>

            <input type="text" name="username" id="username" placeholder="Enter username" maxlength="12">
            <input type="password" name="password" id="password" placeholder="Enter password">
            <input type="submit" value="Submit">
        </div>
    </form>
    <script src='../static/script.js'></script>
</body>
</html>
