<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="../static/style_navbar.css">
</head>
<body>


    <header class="header">
        <a href="/folders" class="home">Home</a>

        <nav class="navbar">
            <a href="">To Send</a>
            <a href="">Guide</a>
            <a href="">About</a>
        </nav>

    </header>



</body>
</html>
